:root {
	--background: #FBFBF9;
	--foreground: #000000;
	--accent: #763E3F;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #FBFBF9;
		--foreground: #000000;
	}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 512px) {
	html {
		font-size: 80%;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}


